# Ignore database files
*.db

# Ignore CSV files
*.csv

# Ignore SQLite journal files
*.db-journal

# Optional: Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore png's
*.png

# Ignore bash files
*.sh

# Ignore env
.env